#%RAML 1.0
title: 2102Mulesoft-Nick-Project2-Diego American Flights API
description: This document represents **System API** for _Mule United Airport_. At present it supports resources and methods that deal with flight information by _American Airlines Flights_.
version: v1
protocols:
  - HTTP
  - HTTPS
  
#baseUri: http://american-flights-diego.us-e2.cloudhub.io/api
#baseUri: http://american-flights-proxy-diego.us-e2.cloudhub.io
baseUri: http://2102mulesoft-nick-project2-diego.us-e2.cloudhub.io

types:
  AmericanFlight: !include /examples/AmericanFlightDataType.raml

traits:
  client-id-required:
    headers:
      client_id:
        type: string
        required: true
        default: 7bd2db4170634c359471b50079cb2223
      client_secret:
        type: string
        required: true
        default: a7bfDaFd977E437eaEd9C59Ca3252F70
    responses:
      401:
        description: Unauthorized, The client_id or client_secret are not valid or the client does not have access.
      429:
        description: The client used all of it's request quota for the current period.
      500:
        description: An error ocurred, see the specific message (Only if it is a WSDL enpoint).
      503:
        description: Contracts Information Unreachable.

/flights:
  #is: [client-id-required]
  get:
    displayName: Get Flights
    description: Retrieves a list of flights
    queryParameters:
      destination?:
        description: "Represents 3-letter destination city code. For eg: DFW, LGA, SYD"
        enum:
          - LAX
          - CLE
          - SFO
        type: string
        minLength: 3
        maxLength: 3
        pattern: "[A-Z]{3}"
    responses:
      "200":
        description: Success
        body:
          application/json:
            items:
              type: AmericanFlight
            examples:
              output: !include /examples/AmericanFlightsExample.raml
  post:
    displayName: Add Flight
    description: Create/Add new flight details to existing flights
    body: #request
      application/json:
        type: AmericanFlight
        examples:
          input: !include examples/AmericanFlightNoIDExample.raml
    responses:
      "201":
        description: Success
        body:
          application/json:
            example:
              strict: true
              value:
                message: Flight added successfully (but not really)
            type: object

/flights/{ID}:
  #is: [client-id-required]
  get:
    displayName: Get Flight by ID
    description: Retrieves flight based on its unique ID
    responses:
      "200":
        description: Success
        body:
          application/json:
            type: AmericanFlight
            example: !include examples/AmericanFlightExample.raml
  put:
    displayName: Replace flight by ID
    description: Complete update to a flight record
    body:
      application/json:
        type: AmericanFlight
        examples: 
          output: !include examples/AmericanFlightNoIDExample.raml
    responses:
      200:
        body:
          application/json:
            example:
              message: Flight updated (but not really)
  patch:
    displayName: Update flight by ID
    description: Partial update to a flight record
    body:
      application/json:
        type: AmericanFlight
        examples: 
          output: !include examples/AmericanFlightNoIDExample.raml
    responses:
      200:
        body:
          application/json:
            example:
              message: Flight updated (but not really)
  delete:
    displayName: Delete flight by ID
    description: Removal of flight record from database
    responses:
      200:
        body:
          application/json:
            example:
              message: Flight deleted (but not really)
  uriParameters:
    ID:
      description: Represents unique flight ID between 1 and 11
      default: 3
      type: number
      minimum: 1
      maximum: 11
      format: int
